---
title: Dove siamo
---

<div class="limit">

  <div class="intro intro--no-height">
    <h2 class="intro__titlepage">Dove siamo</h2>
  </div>

  <div class="row">
    <div class="row__column">
        <p class="row__text"><a href="https://www.google.it/maps/place/Via+Baldassarre+Longhena,+42,+37138+Verona+VR/@45.4399785,10.9697421,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it"><img src="/img/phpday/map_big.jpg" alt="location"></a></p>
        <p class="row__text">{{ site.data.conference.name }} si terrà presso {{ site.data.venue.name }} a {{ site.data.conference.where_when }}.</p>
    </div>
  </div>

  <hr class="hr">

  <h2 class="row__title">Convenzioni</h2>

  <div class="row row--2">
    <p class="row__column">
        <img src="/img/phpday/marker_venue.png"><br><strong class="row__title">Hotel San Marco</strong><br>
        Via Longhena, 42<br>
        37138 Verona — Italy<br>
        045569011<br>
        045572299<br>
        <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
        L'hotel in cui si terrà la conferenza offre tariffe scontate su camere singole e doppie.
    </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">Come varrivare alla conferenza</h2>

  <div class="row row--3">
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_n.png"><br><strong>Dall'uscita dell'autostrada di Verona Nord</strong>
      </p>
      <p class="row__text">
          Take the Tangenziale following Verona Centro direction. At the end of the Tangenziale turn left. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_s.png"><br><strong>Dall'uscita dell'autostrada di Verona Sud</strong>

      </p>
      <p class="row__text">
      Follow the direction to Fiera - Verona Centro. Drive along Viale delle Nazioni. Continue along Viale del Lavoro and Viale del Piave. Once you arrive in Piazzale Porta Nuova, turn left. Drive along Viale Luciano Dal Cero. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.<br/>
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_airport.png"><br><strong>Dall'aeroporto</strong>

      </p>
      <p class="row__text">
          Take the Tangenziale following Verona direction. Take the junction to Verona Centro. At the end of the Tangenziale turn left. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.
      </p>
    </div>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
